	 <div class="navigation-bar navigation-bar--android">
		  <div class="navigation-bar__left navigation-bar--android__left">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0 5px 0 5px;"></span>
		  </div>
		  <div class="navigation-bar__center navigation-bar--android__center">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0">
			  <i class="ion-chevron-left" style="font-size:20px;" ng-click="appNavi.pushPage('tabBar.html')".></i> 
				<i class="ion-cube" style="font-size:20px;"></i> Send a Feedback
			</span>
		  </div>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="to-wrapper">
          <ons-row>
            <ons-col>
              <div class="to-name">{{userdisplayName}}</div>
              <div class="to-email">@{{userloginName}}</div>
            </ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item>
          <input type="text" class="text-input text-input--transparent" placeholder="Topic" style="width: 100%">
        </ons-list-item>

        <ons-list-item>
          <textarea class="textarea textarea--transparent" placeholder="Message" style="width: 100%; height: 100px;"></textarea>
        </ons-list-item>

        <ons-list-item modifier="chevron">
          <ons-icon icon="fa-tag" style="opacity:0.2"></ons-icon>
        </ons-list-item>

      </ons-list>

      <div style="padding: 10px 9px">
	  <button type="submit" class="button button-full button-energized" style="position:absolute; bottom:0px; margin: 0 auto;" ng-click="">
				  Send
				</button>

      </div>
    </ons-page>