<ons-page ng-controller="showJobDetailController">
      <div class="navigation-bar navigation-bar--android">
		  <div class="navigation-bar__left navigation-bar--android__left">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0 5px 0 5px;"></span>
		  </div>
		  <div class="navigation-bar__center navigation-bar--android__center">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0">
			  <i class="ion-ios-arrow-back" style="font-size:20px;" ng-click="appNavi.pushPage('tabBar.html')".></i> {{current_job.jobTitle}}
			</span>
		  </div>
		</div>

      

 <ons-list-item amodifier="chevron">
             
              <input type="text" readonly class="text-input--transparent" value="Job Description">
<br>
                <textarea readonly class="textarea--transparent" rows="4" cols="35">
                {{current_job.jobDescription}}
                </textarea>
             
            </ons-list-item>
			
            
            <ul class="list">
              <li class="list__header">
                Information
              </li>
                <ons-list-item amodifier="chevron">
                <div class="prop-desc">
               <ons-icon icon="ion-social-usd"></ons-icon> {{current_job.rewardPoint}} Points
                </div>
                 </ons-list-item>
                 
                  <ons-list-item amodifier="chevron">
                <div class="prop-desc">
               <ons-icon icon=" ion-ios7-alarm"></ons-icon> Before {{current_job.jobDeadline}}
                </div>
                 </ons-list-item>
        
                 
            <ons-list-item modifier="chevron">
              <div class="prop-desc" ng-click="gotoMap();">
                <ons-icon icon="fa-map-marker"></ons-icon>
                {{current_job.jobLocation}}
              </div>
            </ons-list-item>
	</ul>
  </ons-list>

    
  <button class="button button--large" style="position:absolute; bottom:0px" ng-click="taketask();" value="Take Pictures">TAKETASK</button>

</ons-page>
