<ons-page ng-controller="JobListController">
    <div class="navigation-bar navigation-bar--android">
  <div class="navigation-bar__left navigation-bar--android__left">
    <span class="toolbar-button navigation-bar__line-height" style="padding:0 5px 0 5px;"></span>
  </div>
  <div class="navigation-bar__center navigation-bar--android__center">
    <span class="toolbar-button navigation-bar__line-height" style="padding:0">
      <i class="ion-cube" style="font-size:20px;"></i> TAKETASK
    </span>
  </div>
 <div class="navigation-bar__right navigation-bar--android__right">
	<span class="toolbar-button--quiet navigation-bar__line-height">
      <i class="ion-android-refresh" style="font-size:20px;" ng-click="appNavi.refreshpage()"></i>
    </span>
  </div>
</div>


<ons-list>
      <ons-list-item class="list-item" ng-repeat="job in joblist">
      	<ons-carousel swipeable overscrollable style="height: 72px; width: 100%;" initial-index="1" auto-scroll>
		<ons-carousel-item class="list-action-menu-left" ng-click="">

          </ons-carousel-item>
          <ons-carousel-item class="list-action-item">
            <ons-row>
              <ons-col width="52px" style="padding: 10px 0 0 0;">
                <div style="width: 42px; height: 42px; border-radius: px;"><img src="pics/mail.png"></div>
              </ons-col>
              <ons-col>
                <div class="name">
                  {{job.jobTitle}}
                </div>
                <div class="desc">
                  {{job.jobDescription}}
                </div>
				
              </ons-col>
            </ons-row>
          </ons-carousel-item>
		   <ons-carousel-item class="list-action-menu-right" ng-click="">
		  
          </ons-carousel-item>
        </ons-carousel>
      </ons-list-item>
    </ons-list>



  <div class="card" ng-click="viewjob(job.jobID)" ng-repeat="job in joblist">
  <div class="item item-divider">
    <h2>{{job.jobTitle}}</h2>
  </div>
  <div class="item item-text-wrap">
    {{job.jobDescription}}
  </div>
  <div class="item item-divider">
  <div class="row">
  <div class="col col-70"> <i class="icon ion-cash">HKD $ {{job.rewardPoint}} </i>
  <i class="icon ion-star"> 100 </i>
  <i class="icon ion-location"> {{job.jobLocation}} </i></div>
  <div class="col col-10">
		<i class="icon ion-camera"> 4</i></div>
	<div class="col col-10">
		<i class="icon ion-compose">5 </i></div>
</div>
  </div>
</div>


</ons-page>


