<ons-page ng-controller="submitJobController">
  <div class="navigation-bar navigation-bar--android">
		  <div class="navigation-bar__left navigation-bar--android__left">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0 5px 0 5px;"></span>
		  </div>
		  <div class="navigation-bar__center navigation-bar--android__center">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0">
			  <i class="ion-chevron-left" style="font-size:20px;" ng-click="appNavi.pushPage('instruction.html')".></i> Step 1
			</span>
		  </div>
		</div>
      
	  
	  <div class="list list-inset">
		  <label class="item item-input">
			<input type="text" placeholder="First Name">
		  </label>
		  <label class="item item-input">
			<input type="text" placeholder="Last Name">
		  </label>
		</div>
	  
	  
	  
      <div class="center">
          Second, please fill in the number shown in the price tag.
          <br></br>
          <input type="text" class="number" placeholder="price" ng-model="infotext">
<br>
      </div>
      
      <br/><br/>
      <button style="position:absolute; bottom:0px" class="button button--large" ng-click="submitJob()">Submit</button>
    

    
</ons-page>