
<ons-page ng-controller="takePicJobController">
  <div class="navigation-bar navigation-bar--android">
		  <div class="navigation-bar__left navigation-bar--android__left">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0 5px 0 5px;"></span>
		  </div>
		  <div class="navigation-bar__center navigation-bar--android__center">
			<span class="toolbar-button navigation-bar__line-height" style="padding:0">
			  <i class="ion-chevron-left" style="font-size:20px;" ng-click="appNavi.pushPage('detail.html')".>{{current_job.jobTitle}}</i>
			</span>
		  </div>
		  <div class="navigation-bar__right navigation-bar--android__right">
			<span class="toolbar-button--quiet navigation-bar__line-height">
			  <i class="ion-chevron-right" style="font-size:20px;" ng-click="appNavi.pushPage('instruction2.html')"></i>
			</span>
		  </div>
		</div>

 
	  
	  <div class="list card">

		  <div class="item item-avatar">
			<p>First, you need to take photo of the product with its pricetag.</p>
		  </div>

		  <div class="item item-image">
			<div id="previewImage" style="margin-left:auto; margin-right:auto; border:2px solid black; width:200px; height:200px; margin-top:50px; text-align:center">
          Image Preview
      </div>

      <p style="text-align:center" id="previewImageSize"></p>
		  </div>

		</div>
		<button class="onsbutton onsbutton--large" style="position:absolute; bottom:0px" ng-click="takePic()">Take Photo</button>
     
</ons-page>